<h1>Home#index</h1>


<table>
  <tbody>
    <%- @tweets.each |tweet| -%>
      <tr>
        <td><%= tweet.username %></td>
        <td><%= tweet.screen_name %></td>
        <td><%= tweet.profile_image_url %></td>
        <td><%= tweet.content %></td>
        <td><%= tweet.source %></td>
        <td><%= tweet.happend_at %></td>
      </tr>
    <%- end -%>
  </tbody>
</table>
